.inquiry-list {
  width: 80vw;
  height: 80vh;
  padding: 40px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    padding: 12px;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
}
