.message-container {
  margin-bottom: 4px;
  border-radius: 4px;
  width: fit-content;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-word;
}

.message-sender {
  background-color: #3498db;
  color: #fff;
  align-self: flex-end;
}

.message-receiver {
  background-color: #ecf0f1;
  color: #333;
  align-self: flex-start;
}
